---
import Layout from '../../layouts/Layout.astro';
import BlogPost from '../../components/BlogPost.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const tags = [...new Set(posts.flatMap(post => post.data.tags))];
  return tags.map(tag => ({
    params: { tag },
    props: { posts: posts.filter(post => post.data.tags.includes(tag)) },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={`${tag}のタグがついた投稿`}>
  <div class="container mx-auto px-6 lg:px-16 max-w-5xl">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">{tag}のタグがついた投稿</h1>
    <ul class="space-y-6">
      {posts.map(post => (
          <BlogPost
              title={post.data.title}
              slug={post.slug}
              excerpt={post.data.description}
              date={post.data.pubDate}
              tags={post.data.tags}
          />
      ))}
    </ul>
  </div>
</Layout>
